#loginmenu {
  /* border: 1px black solid; */
  margin: 30px;
  margin-top: 10px;
}

#interface {
  visibility: hidden;
}

#header {
  /* margin-left: 20px; */
  /* margin: 20px; */
}

#sendrec {
  /* margin: 20px; */
}

#right {
  color: darkcyan;
  padding-left: 25vw;
}

#left {
  color: lightseagreen;
  padding-left: 5vw;
}

#live_mssg {
  width: 35vw;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.input-btn {
  border-radius: 5px;
  background-color: ;
  border: 1px solid black;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.css-sm {
  font-size: small;
}
